node {
  color: white;
  background-color: darkblue;
  border-color: black;
  font-size: 10;
  text-outline-color: #FFFFFF;
  content: data(caption);
/*  width: label;
  height: label;*/
  width: 9px;
  height: 7px;
}

edge {
  curve-style: haystack;
  opacity: 0.7;
  color: white;
  font-size: 10;
  text-rotation: autorotate;
  width: 5px;
  /*width: mapData(load,0,100000, yellow,red);*/
  line-color: blue;
  target-arrow-shape: triangle;
  target-arrow-fill: filled;
  target-arrow-color: green;
  /*content: mapData(load, 0, 1000000, yellow,red);*/
  content: data(load);
}

node:selected {
  font-size:14;
  background-color: yellow;
}