# [taxonomy config]
# Needed mainly for taxonomic lookups provided by the Taxonomizer service

tax_host = mysql-eg-publicsql.ebi.ac.uk
tax_db = ncbi_taxonomy
tax_pass = 
tax_user = anonymous
tax_port = 4157
# Use this for long-running jobs that may exceed the database timeout
tax_disconnect = 1