[Manager conf]

home = #home folder for storage
temp = #temp folder for downloaded resources
doc_store = Bio::EnsEMBL::Mongoose::Persistence::LucyFeeder

driver = mysql
db     = versioning_db
host   = 
user   = 
pass   = 
port   = 3306

scratch_space = # Fast disk for obnoxiously huge files or expensive parsing

[RDF config]
LOD_location = "../conf/xref_LOD_mapping.json"