<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Cytoscape xref viewer</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="static/js/cytoscape.min.js"></script>
  <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.1.2/cytoscape-dagre.js"></script>
  <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-spread/1.0.9/cytoscape-spread.js"></script>
  <script src="http://marvl.infotech.monash.edu/webcola/cola.v3.min.js"></script>
  <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-qtip/2.2.5/cytoscape-qtip.js"></script>
  <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cola/1.1.1/cytoscape-cola.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>
  <link href="static/css/general.css" rel="stylesheet">
  <!-- for on the fly loading... -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    //google.charts.setOnLoadCallback(drawChart);
  </script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="static/js/d3sparql.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>